h1{
    font-size: 30px;
    color: #4682B4;
    font-family: monospace;
    padding-left: 3px;
    text-align: left;
    padding-top: 20px; 
    width: 400px;
}

p{
	text-align: center;
	color: #4682B4;
	font-size: 25px;
}

h2{
    float: right;
    color: #4682B4;
    font-size: 22px;
    font-family: monospace;
    text-align: right;
}

h6{
    text-align: center;
    color: #4682B4;
    font-size: 22px;
    border-radius: 10px;
    border: 2px solid #4682B4;
    width: 400px;
    height: 50px;
    margin-left: 250px;      
}

h4{
    color: #696969;
    font-size: 21px;
}

h5{
    text-align: left;
    color: #696969;
    font-size: 17px;
    font-family: sans-serif;
}

h3{
    text-align: center;
    color: #4682B4;
    font-size: 22px;
}

header{
    margin: auto;
    text-align: center;
    width:auto;
    background: white;
    padding:10px;
    color:#fff;
}

select{
    margin-left: 400px;
    width: 100px;
}
nav {
    margin:auto;
    text-align: center;
    width: 100%;
} 

nav ul ul {
    display: none;
}

nav ul li:hover > ul{
    display: block;
    width: 150px;
}

nav ul {
    background: #4682B4;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
}

nav ul:after {
    content: ""; 
    clear:both; 
    display: block;
}

nav ul li{
    float:left;
}

nav ul li:hover{
    background:#666;
}

nav ul li:hover a{
    color:white;
}

nav ul li a{
    display: block;
    padding: 25px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}

nav ul ul{
    background: #4682B4;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top:100%;
}

nav ul ul li{
    float:none;
    border-top: 1px soild #4682B4;
    border-bottom: 1px solid #4682B4;
    position: relative;
}

nav ul ul li a{
    padding: 15px 40px;
    color: #fff;
}

nav ul ul li a:hover{
    background-color: #666;
}

nav ul ul ul{
    position: absolute;
    left: 100%;
    top: 0;
}
*{
    margin:0; 
    padding:0;
}
.border{
	margin-left: 50px;
	border-color: blue;
	border: 2px solid #4682B4;
	width: 300px;
	height: 250px;
	border-radius: 10px;
	text-align: center;
}

table{
    border-spacing: 2px;
	margin-left: 50px;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    border: 2px solid #4682B4;
}


.isi{
	margin-left: 500px;
}

.content {
    float:right;
    width:66%;
    background:white;
    padding:2%; 
    min-height:400px;
}
  
.sidebar {
    float:left;
    width:26%;
    background:white;
    padding:2%;
}   
